:root {
	--red: red;
	--green: green;
	--white: white;
	--black: black;
	--blue: blue;
}

section.reflex {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem 0;
}
button.reflex {
	font-size: 2rem;
	padding: 1rem 4rem;
	color: var(--white);
	border: 1px solid var(--black);
	border-radius: 1rem;
	cursor: pointer;
}

.red {
	background-color: var(--red);
}

.blue {
	background-color: var(--blue);
}

.green {
	background: var(--green);
}
